body {
  overflow: hidden;
  cursor: none;
  margin: 0;
}

main {
  margin: auto;
  width: fit-content;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

.background-img {
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.custom-cursor {
  position: absolute;
  top: 10000px;
  z-index: 1000;
  left: 50vw;
  pointer-events: none;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.background {
  position: absolute;
  z-index: -1001;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  transition: transform 50s ease;
  overflow: hidden;
}

@keyframes blink {
  0% {
    opacity: 0;
    margin-top: 10px;
    margin-bottom: -10px;
  }
  25% {
    opacity: 1;
    filter: invert(100%);
    margin-top: -10px;
    margin-bottom: 10px;
  }
  50% {
    opacity: 0;
    filter: invert(0%);
    margin-top: -10px;
    margin-bottom: 10px;
  }
  75% {
    opacity: 1;
    filter: invert(100%);
    margin-top: -10px;
    margin-bottom: 10px;
  }
  100% {
    opacity: 0;
    filter: invert(0%);
    margin-top: 10px;
    margin-bottom: -10px;
  }
}

.portrait-container {
  background-color: white;
  width: 100%;
}

.portrait {
  position: relative;
}

.atencion {
  width: 20px;
  position: absolute;
  border: 1px solid white;
  background-color: white;
  z-index: 100;
  top: 0px;
  right: 0px;
}

.overlay:hover ~ .background {
  transform: scale(3);
}

.overlay:hover {
  transform: scale(10);
}

.overlay {
  background-image: url("background-gradient.png");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1000;
}

header {
  text-align: center;
}

.block {
  border-style: inset;
  background-color: grey;
  margin: 5px;
  font-size: 20px;
}

/* .block:hover {
  border-style: outset;
  transform: translateY(-1px);
  z-index: -10;
} */

.section {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.sidebar {
  width: 150px;
}

.sidebar-left {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 150px;
  gap: 5px;
}

.content {
  width: 300px;
}

.namecard {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.namecard-inner {
  font-size: 16px;
  position: absolute;
  transform: rotateX(0deg);
  transition: all 1s;
  position: relative;
  backface-visibility: hidden;
}

.namecard:hover .namecard-inner {
  transform: rotateX(180deg);
}

.namecard-back {
  margin-top: 0%;
  font-size: 16px;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: all 1s;
  backface-visibility: hidden;
  transform: rotateX(180deg);
}

.namecard:hover .namecard-back {
  transform: rotateX(0deg);
}

.eyes {
  margin: auto;
  height: 8px;
  padding-top: 4px;
  position: absolute;
  left: 50%;
  transform: translateX(-18px);
  image-rendering: pixelated;
}
