---
import CustomLabel from "../../CustomLabel.astro";
import xrayImg from "./v2-highres.gif";
import glass from "./glass.png";
---

<style>
  .wrapper {
    margin-top: 105px;
    image-rendering: pixelated;
    position: relative;
    z-index: 6;
    overflow: hidden;
    height: 310px;
  }

  .xray {
    height: 310px;
    margin: 0px;
    padding: 0px;
    width: fit-content;
    /* filter: saturate(100) contrast(200%); */
    /* filter: saturate(1.5) sepia(100%) hue-rotate(-50deg) saturate(1.5)
      contrast(200%); */
    transition: ease-in-out 0.1s all;
  }

  .glass {
    height: 310px;
    left: 0px;
    margin: 0px;
    pointer-events: none;
    position: absolute;
    opacity: 0.9;
    display: none;
  }

  .red {
    z-index: 7;
    position: absolute;
    left: 0px;
    opacity: 0;
  }

  @keyframes blink {
    0% {
      opacity: 0;
      margin-top: 10px;
      margin-bottom: -10px;
    }
    25% {
      opacity: 1;
      filter: invert(100%);
      margin-top: -10px;
      margin-bottom: 10px;
    }
    50% {
      opacity: 0;
      filter: invert(0%);
      margin-top: -10px;
      margin-bottom: 10px;
    }
    75% {
      opacity: 1;
      filter: invert(100%);
      margin-top: -10px;
      margin-bottom: 10px;
    }
    100% {
      opacity: 0;
      filter: invert(0%);
      margin-top: 10px;
      margin-bottom: -10px;
    }
  }
</style>

<script>
  const xray = document.getElementById("xray");
  const shot = document.getElementById("shot-xray");
  const glass = document.getElementById("glass");

  let suffix = "";

  xray.addEventListener("mouseover", () => {
    xray.style.filter =
      "saturate(1.5) sepia(100%) hue-rotate(-50deg) saturate(1.5) contrast(200%)" +
      suffix;
    glass.style.opacity = 0.7;
  });
  xray.addEventListener("mouseout", () => (xray.style.filter = suffix));
  function stopXrayShot() {
    xray.style.animation = "none";
    glass.style.animation = "none";
    shot.pause();
    shot.currentTime = 0;
    glass.style.opacity = 0.9;
  }
  xray.addEventListener("mousedown", (e) => {
    if (e.which != 1) {
      return;
    }
    shot.volume = 0.02;
    shot.play();

    glass.style.display = "initial";
    glass.style.animation = "blink normal 0.1s 3 linear";
    suffix = "saturate(100) contrast(200%)";
    xray.style.filter =
      "saturate(1.5) sepia(100%) hue-rotate(-50deg) saturate(1.5) contrast(200%)" +
      suffix;
    xray.style.animation = "blink normal 0.1s 3 linear";
  });

  xray.addEventListener("mouseup", stopXrayShot);
  xray.addEventListener("mouseleave", stopXrayShot);
  xray.addEventListener("focusout", stopXrayShot);
</script>

<audio id="shot-xray" src="shot-xray.wav" preload="auto"></audio>
<div class="block wrapper lockable">
  <img class="xray" src={xrayImg.src} id="xray" />
  <img class="glass" src={glass.src} id="glass" />
</div>
<CustomLabel
  mousetracked={false}
  text="That's not me lol, it's an asset for a game"
/>
