---
import { Image } from "astro:assets";
import Background from "./LowBG.png";
import Letters from "./LowLetters.png";
import Saw from "./LowSaw.png";
import Hit from "./hit.mp3";
---

<style>
    .banner {
        margin-top: 5px;
        margin-bottom: 45px;
    }

    .hopeflea {
        width: 90%;
        height: 140px;
        margin-bottom: -5px;
    }

    .echographic {
        position: relative;
        float: right;
        color: white;
        font-family: monospace;
        opacity: 80%;
        text-decoration: none;
    }

    .logo {
        width: 100%;
        position: absolute;
        pointer-events: none;
    }

    .metal {
        pointer-events: all;
    }

    .svg {
        position: absolute;
        pointer-events: none;
        width: 100%;
        z-index: 100;
        opacity: 0;
    }

    @keyframes rotating {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    .shadow {
        filter: drop-shadow(-2px 2px 0.7px rgba(0, 0, 0, 0.877));
        position: absolute;
        top: 54px;
        image-rendering: pixelated;
        left: 86px;
    }

    .saw {
        animation: rotating 20s linear infinite;
        image-rendering: pixelated;
        height: 105px;
        pointer-events: none;
    }

    .spark {
        position: absolute;
        height: 50px;
        pointer-events: none;
        display: none;
    }
</style>

<script>
    const metalObjects = [...document.getElementsByClassName("metal")];
    const container = document.getElementById("spark-container");
    const saw = document.getElementById("saw");
    const sawHitbox = document.getElementById("saw-hitbox");
    const delay = (ms) => new Promise((res) => setTimeout(res, ms));

    const audioPlay = (() => {
        let context = null;
        let loaded = null;
        return async (url, start, gain, rate, tune) => {
            if (context) context.close();
            context = new AudioContext();
            const source = context.createBufferSource();

            if (loaded == null) {
                loaded = await fetch(url)
                    .then((res) => res.arrayBuffer())
                    .then((arrayBuffer) =>
                        context.decodeAudioData(arrayBuffer),
                    );
            }

            source.buffer = loaded;
            const gainNode = context.createGain();
            gainNode.gain.value = gain;
            source.connect(gainNode);
            gainNode.connect(context.destination);

            source.playbackRate.value = rate;
            source.detune.value = tune;
            source.start(0, start);
        };
    })();

    let rotDurationID = 0;
    const durationMap = [12, 6, 3, 1, 0.5, 0.3, 0.2, 0.1];
    sawHitbox.addEventListener("mousedown", () => {
        rotDurationID += 1;
        if (rotDurationID < 7) {
            saw.style.animation =
                "rotating " + durationMap[rotDurationID] + "s linear infinite";
        } else {
            const randomId = Math.floor(Math.random() * 7);
            saw.style.animation =
                "rotating " + durationMap[randomId] + "s linear infinite";
        }
    });

    metalObjects.map((metal) => {
        metal.addEventListener("mousedown", async (e) => {
            const randomGain = Math.random() * 0.03;
            const randomStart = Math.random() * 0.05;
            const randomRate = Math.random() * 0.05;
            const randomTune = Math.random() * 5;
            audioPlay(
                "/hit.mp3",
                0.15 + randomStart,
                0.3 + randomGain,
                0.95 + randomRate,
                95 + randomTune,
            );

            await delay(40);
            const newImg = document.createElement("img");
            const rect = container.getBoundingClientRect();
            newImg.style.position = "absolute";
            newImg.style.height = "90px";
            const random = Math.floor(Math.random() * 360);
            newImg.style.transform = "rotate(" + random + "deg)";
            newImg.style.left = e.clientX - rect.left - 45 + "px";
            newImg.style.top = e.clientY - rect.top - 22 + "px";
            newImg.src = `/spark.gif?t=${Date.now()}`;
            container.appendChild(newImg);

            await delay(300);
            newImg.remove();
        });
    });

    const echographic = document.getElementById("echographic");

    echographic.addEventListener("mouseover", () => {
        echographic.style.opacity = 100;
        echographic.style.fontWeight = "bold";
    });

    echographic.addEventListener("mouseout", () => {
        echographic.style.opacity = 80;
        echographic.style.fontWeight = "normal";
    });
</script>

<div class="banner">
    <div class="hopeflea">
        <img src={Background.src} class="logo" />
        <div class="shadow metal">
            <img src={Saw.src} class="saw" id="saw" />
        </div>
        <img src={Letters.src} class="logo" />
        <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            class="svg"
            viewBox="0 0 2392 641"
            width="100%"
        >
            <circle r="162" cx="533" cy="325" class="metal" id="saw-hitbox"
            ></circle>
            <polygon
                class="metal"
                points="651,538 672,430 717,337 705,220 728,203 955,195 962,318 902,402 779,402 785,337 866,335 888,304 884,270 787,269 769,483 760,532 651,538"
            ></polygon>
            <polygon
                class="metal"
                points="2334,450 2328,253 2271,203 2094,200 2052,228 2054,313 2044,315 2044,359 2057,364 2055,404 2043,410 2046,447 2134,450 2132,405 2131,280 2243,275 2258,295 2255,309 2131,310 2131,360 2258,361 2262,451 2334,450"
            ></polygon>
            <polygon
                class="metal"
                points="1734,330 1741,198 2029,199 2030,286 1944,283 1930,272 1830,271 1828,294 1969,299 1929,351 1837,351 1854,371 1988,374 1988,360 2033,363 2029,451 1813,447 1734,330"
            ></polygon>
            <polygon
                class="metal"
                points="1452,455 1540,232 1655,232 1586,372 1692,371 1705,355 1727,357 1783,441 1545,441 1522,464 1452,455"
            ></polygon>
            <polygon
                class="metal"
                points="1263,449 1352,193 1325,172 1331,126 1737,134 1679,212 1389,206 1445,215 1430,239 1505,248 1461,302 1412,291 1387,435 1366,470 1263,449"
            ></polygon>
            <polygon
                class="metal"
                points="981,193 1232,192 1233,274 1048,274 1059,287 1172,290 1136,348 1061,343 1060,366 1189,374 1201,365 1241,364 1240,441 991,423 978,398 981,193"
            ></polygon>
            <polygon
                class="metal"
                points="507,321 594,122 655,151 705,198 542,353 514,347 507,321"
            ></polygon>
            <polygon
                class="metal"
                points="53,241 111,241 124,151 237,155 207,237 306,237 300,153 381,145 360,316 383,462 289,464 301,309 185,305 174,337 195,400 152,575 42,442 89,293 53,241"
            ></polygon>
        </svg>
        <div id="spark-container"></div>
    </div>
    <a
        class="echographic"
        id="echographic"
        href="https://www.instagram.com/ech0graphic"
        target="_blank"
    >
        @ech0graphic
    </a>
</div>
