body {
  overflow: hidden;
  cursor: none;
  margin: 0;
}

main {
  width: fit-content;
  position: relative;
  margin: auto;
  z-index: 5;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

a:visited {
  color:rgb(14, 14, 90);
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  text-align: center;
}

.block {
  border-style: inset;
  background-color: grey;
  margin: 5px;
  font-size: 20px;
}

.section {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.sidebar {
  width: 150px;
}

.sidebar-left {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 150px;
  gap: 5px;
}

.namecard {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.namecard-inner {
  font-size: 16px;
  position: absolute;
  transform: rotateX(0deg);
  transition: all 1s;
  position: relative;
  backface-visibility: hidden;
}

.namecard:hover .namecard-inner {
  transform: rotateX(180deg);
}

.namecard-back {
  margin-top: 0%;
  font-size: 16px;
  position: absolute;
  top: 0px;
  left: 0px;
  transition: all 1s;
  backface-visibility: hidden;
  transform: rotateX(180deg);
}

.namecard:hover .namecard-back {
  transform: rotateX(0deg);
}

.eyes {
  margin: auto;
  height: 8px;
  padding-top: 4px;
  position: absolute;
  left: 50%;
  transform: translateX(-18px);
  image-rendering: pixelated;
}
