
<style>

.content {
  width: 300px;
}

.underConstruction {
  position: absolute;
  left: 155px;
  margin-top: -10px;
  image-rendering: pixelated;
}

</style>

<div class="content block">
  <h1>This is a title</h1>
  <p>This is a paragraph.</p>
  <p>
    Embrace the <a href="https://rustup.rs/" target="_blank">rust</a>.
  </p>
  <img src="/under-construction.png" class="underConstruction" width="306px"/>
</div>