<script type="module">

import { Pixelate } from "/pixelate.js";

let pixelate = null;

window.onload = () => {
  let pixelaters = [];
  let clicked = false;

  [document.getElementById('butterfly'), document.getElementById('discord')].forEach((image, n) => {
    pixelaters.push(new Pixelate(image, 1));
    pixelaters[n].canvas.addEventListener('mouseover', () => {
        pixelaters[n].setAmount(0.5);
        pixelaters[n].render();
    });

    pixelaters[n].canvas.addEventListener('mouseout', () => {
      pixelaters[n].setAmount(0.3);
      pixelaters[n].render();
    });

    if (n == 0) {
      console.log(pixelaters[n].canvas);
      pixelaters[n].canvas.addEventListener('mousedown', () => {
        if (clicked == false) {
          clicked = true;
          let div = document.createElement('div');
          div.style.width = '28px';
          div.style.height = '25px';
          div.style.border = 'inset 1px';
          pixelaters[n].canvas.parentNode.insertBefore(div, pixelaters[n].canvas);
          let image = document.createElement('img');
          image.style.width = '30px';
          image.style.height = '27px';
          image.src = "/icons/bluesky.gif";
          image.style.position = "absolute";
          image.animate(
            [
              { translate: "0 0" },
              { translate: "0 -45px" },
              { translate: "0 -60px" },
              { translate: "0 -105px" },
              { translate: "0 -120px" },
              { translate: "0 -165px" },
              { translate: "0 -180px" },
              { translate: "0 -225px" },
              { translate: "0 -240px" },
            ],
            {
              duration: 3000, // milliseconds = 1s
              fill: "forwards",
              easing: "linear",
            }
          );
          pixelaters[n].canvas.parentNode.replaceChild(image, pixelaters[n].canvas);
        }
      })
    }
  })
}
</script>

<style>

.line {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 5px;
}

</style>

<div
  class="block"
  style="height: 130px; width: calc(100% - 16px); margin-bottom: 0"
>
  <p>My Socials</p>
  <div class="line">
    <img src="/icons/bluesky.gif" id="butterfly" width="30px" style="background-color: black;"/>
    <a href="https://bsky.app/profile/iddeko.bsky.social" target="_blank">bluesky</a>
  </div>
    <div class="line">
      <img src="/icons/discord.png" id="discord" width="30px" style="background-color: black;"/>      
      <a href="https://discordapp.com/users/582199835994750982" target="_blank">discord</a>
  </div>
</div>