 <div
  class="block"
  style="height: 130px; width: calc(100% - 16px); margin-bottom: 0"
>
  <p>My Socials</p>
  <ul>
    <li>
      <a
        href="https://bsky.app/profile/iddeko.bsky.social"
        target="_blank"
        >bluesky</a
      >
    </li>
    <li>

      <a
        href="https://discordapp.com/users/582199835994750982"
        target="_blank"
        >discord</a
      >
    </li>
  </ul>
</div>