---
import Card from "../components/gallery/Card.astro";
import Banner from "../components/gallery/banner.png";
---

<style>
  body {
    background-color: rgb(255, 255, 255);
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .middle {
    width: 60vw;
    height: 5000px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }

  .banner {
    width: 60vw;
    position: absolute;
    height: fit-content;
  }

  .aside {
    background-color: gray;
    position: fixed;
    width: 20vw;
    height: 100vh;
  }
</style>

<script>
  let asides = document.getElementsByClassName("aside");

  document.addEventListener("scroll", (event) => {
    let currentScroll =
      document.documentElement.scrollTop || document.body.scrollTop;
    let maxScroll =
      document.documentElement.scrollHeight || document.body.scrollHeight;
    let scrollPercent = currentScroll / (maxScroll * 0.8);
    let lerp = Math.max(1 - scrollPercent * 1.5, 0);
    for (const aside of asides) {
      let asideColor = 128 * lerp;
      aside.style["backgroundColor"] =
        "rgb(" + asideColor + ", " + asideColor + ", " + asideColor + ")";
    }
    let bodyColor = 255 * lerp;
    document.body.style["backgroundColor"] =
      "rgb(" + bodyColor + ", " + bodyColor + ", " + bodyColor + ")";
  });
</script>

<body>
  <div class="aside" style="left: 0;"></div>
  <div class="middle">
    <img src={Banner.src} class="banner" />
  </div>
  <div class="aside" style="right: 0;"></div>
  <!-- <Card /> -->
</body>
