---
import Cursor from "../components/cursor.astro";
import Eyes from "../components/eyes.astro";
import Namecard from "../components/namecard.astro";
import Portrait from "../components/portrait.astro";
import Bank from "../components/bank.astro";
---

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Deepest floor</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <Cursor />
    <div class="background overlay"></div>
    <div class="background background-img"></div>
    <div
      class="gun-img"
      style="
        position: absolute;
        right: 5px;
        height: 100vh;
        width: 100px;
        overflow: hidden;
        z-index: 2;
      "
    ></div>
    <div
      class="gun-img"
      style="
        position: absolute;
        left: 5px;
        height: 100vh;
        width: 100px;
        transform: scaleX(-1);
        overflow: hidden;
        z-index: 2;
      "
    ></div>
    <Bank />
    <main>
      <div style="padding-top: 30px">
        <header class="block">Endless pit for withered souls</header>
        <div class="section">
          <div class="sidebar-left">
            <div
              class="block"
              style="height: 130px; width: calc(100% - 16px); margin-bottom: 0"
            >
              <p>My Socials</p>
              <ul>
                <li>
                  <a
                    href="https://bsky.app/profile/iddeko.bsky.social"
                    target="_blank"
                    >bluesky</a
                  >
                </li>
              </ul>
            </div>

            <div
              class="block"
              style="
                flex-grow: 1;
                overflow-x: hidden;
                width: 100%;
                margin-top: 0;
              "
            >
              <p>Just plug me already</p>
            </div>
          </div>

          <div class="content block">
            <h1>This is a test</h1>
            <p>This is a paragraph.</p>
            <p>
              Embrace the <a href="https://rustup.rs/" target="_blank">rust</a>.
            </p>
          </div>
          <div class="sidebar">
            <Portrait />
            <Namecard>
              <Fragment slot="front">Radical FOSS activist</Fragment>
              <Fragment slot="back">Leftist optimist</Fragment>
            </Namecard>
            <Namecard>
              <Fragment slot="front">Post-cyberpunk artist</Fragment>
              <Fragment slot="back">
                <Eyes/>
                <Eyes/>
              </Fragment>
            </Namecard>
            <Namecard>
              <Fragment slot="front">Radical FOSS activist</Fragment>
              <Fragment slot="back">Leftist optimist</Fragment>
            </Namecard>
          </div>
        </div>
        <footer class="block">
          <p>
            <small>
              This page content is available on
              <a
                href="https://github.com/Arthur-Aillet/deepest-floor"
                target="_blank"
                >github</a
              >
              under the
              <a
                href="https://github.com/Arthur-Aillet/deepest-floor/blob/main/LICENSE"
                target="_blank"
                >AGPL GNU License</a
              >
            </small>
          </p>
        </footer>
      </div>
    </main>
  </body>
</html>
