---
import Cursor from "../components/cursor/cursor.astro";
import Bank from "../components/bank.astro";
import CustomLabel from "../components/CustomLabel.astro";
import Background from "../components/Background.astro";
import UpdateLog from "../components/mainPage/UpdateLog.astro";
import Body from "../components/mainPage/Body.astro";
import Socials from "../components/mainPage/Socials.astro";
import Sidebar from "../components/mainPage/Sidebar.astro";
import Xray from "../components/mainPage/Xray/Xray.astro";
import Gallery from "../components/mainPage/Gallery/Gallery.astro";
---

<style>
  .zero-layer {
    display: flex;
    justify-content: center;
  }
  .first-layer {
    display: flex;
    align-items: start;
  }

  .second-layer {
    display: flex;
    align-items: center;
    gap: 40px;
  }
</style>

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="pragma" content="no-cache" />
    <title>Deepest floor</title>
    <link rel="stylesheet" href="style.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.jpg" />
  </head>
  <body>
    <div id="label-container"></div>
    <!-- Do not remove even if empty -->
    <Cursor />
    <Background />
    <Bank />

    <div class="zero-layer">
      <div class="first-layer">
        <Gallery />
        <div class="second-layer">
          <main>
            <div style="padding-top: 90px">
              <header class="block">
                Endless pit for <a
                  style="color: orange; background-color: black;">withered</a
                > souls
              </header>
              <div class="section">
                <div class="sidebar-left">
                  <Socials />
                  <div
                    class="block"
                    style="
                flex-grow: 1;
                overflow-x: hidden;
                width: 100%;
                margin-top: 0;
              "
                  >
                    <p>Just plug me already</p>
                    <p>
                      <a href="https://nekoweb.org/follow/iddeko.nekoweb.org/">
                        Follow me on Nekoweb
                      </a>
                    </p>
                  </div>
                </div>
                <Body />
                <Sidebar />
              </div>
              <footer class="block">
                <p style="postition: relative;">
                  <small>
                    This page content is available on
                    <a
                      href="https://github.com/Arthur-Aillet/deepest-floor"
                      target="_blank">github</a
                    >
                    under the
                    <a
                      href="https://github.com/Arthur-Aillet/deepest-floor/blob/main/LICENSE"
                      target="_blank"
                      id="license-link"
                      >AGPL GNU License
                    </a>
                  </small>
                </p>
                <CustomLabel
                  id="license-link"
                  mousetracked={false}
                  text="AGPL is the most efficient license I know to force companies to publish the changes they make. If they use our software, even in their private networks, and edit it, they have to publish the changes under the same license! If they use our libraries they need to make their whole software open source. AGPL spreads to every project it touches and could save us from closed source software."
                />
              </footer>
              <UpdateLog />
            </div>
          </main>
          <Xray />
        </div>
      </div>
    </div>
  </body>
</html>
