---
import Cursor from "../components/cursor/cursor.astro";
import Bank from "../components/bank.astro";
import CustomLabel from "../components/CustomLabel.astro";
import Background from "../components/Background.astro";
import UpdateLog from "../components/mainPage/UpdateLog.astro";
import Body from "../components/mainPage/Body.astro";
import Socials from "../components/mainPage/Socials.astro";
import Sidebar from "../components/mainPage/Sidebar.astro";
import Xray from "../components/mainPage/Xray/Xray.astro";
import Gallery from "../components/mainPage/Gallery/Gallery.astro";
import Banner from "../components/mainPage/Banner/Banner.astro";
import Ladder from "./ladder.png";
import Flag from "./flag.gif";
import Shader from "./shader.png";
---

<style>
  .zero-layer {
    display: flex;
    justify-content: center;
  }
  .first-layer {
    display: flex;
    align-items: start;
  }

  .second-layer {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  /*screen upto 400px*/
  @media (max-width: 1700px) {
    .ladder-img {
      image-rendering: pixelated;
    }
  }

  .ladder-img {
    width: 80px;
    height: 148px;
    left: 69.2%;
    position: absolute;
    z-index: -1;
    margin-top: -5px;
    filter: drop-shadow(2px 2px 0.7px rgba(0, 0, 0, 0.877));
  }

  .shader-img {
    transform: scale(0);
    width: 400px;
    left: 82%;
    position: absolute;
    transition-delay: 0.3s;
    transition: all 1s ease-in-out;
    margin-top: 83px;
    border: 1px solid rgba(175, 175, 175);
    outline: 2px solid black;
    transform-origin: top left;
    z-index: -2;
  }

  .flag-img:hover + .shader-img {
    transition-delay: 0.3s;
    transform: scale(1);
  }

  .flag-img:hover {
    background-image: linear-gradient(
      rgba(128, 128, 128, 0.3),
      rgba(0, 0, 0, 1)
    );
  }

  .flag-img {
    image-rendering: pixelated;
    width: 115px;
    left: 81%;
    position: absolute;
    z-index: -1;
    margin-top: 75px;
    filter: drop-shadow(1px 1px rgba(175, 175, 175))
      drop-shadow(-1px -1px rgba(175, 175, 175))
      drop-shadow(1px 1px rgba(0, 0, 0)) drop-shadow(-1px -1px rgba(0, 0, 0))
      drop-shadow(2px 2px 0.7px rgba(0, 0, 0, 0.877));
  }
</style>

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="pragma" content="no-cache" />
    <title>Deepest floor</title>
    <link rel="stylesheet" href="style.css?v=1.1" />
    <meta charset="UTF-8" />
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.jpg" />
  </head>
  <body>
    <div id="label-container"></div>
    <!-- Do not remove even if empty -->
    <Cursor />
    <Background />
    <Bank />

    <div class="zero-layer">
      <div class="first-layer">
        <Gallery />
        <div class="second-layer">
          <main>
            <div style="padding-top: 20px">
              <Banner />
              <header class="block">
                Endless pit for <a
                  style="color: orange; background-color: black;">withered</a
                > souls
              </header>
              <div class="section">
                <div class="sidebar-left">
                  <Socials />
                  <div
                    class="block"
                    style="
                flex-grow: 1;
                overflow-x: hidden;
                width: 100%;
                margin-top: 0;
              "
                  >
                    <p>Just plug me already</p>
                    <p>
                      <a href="https://nekoweb.org/follow/hopeflea.net/">
                        Follow me on Nekoweb
                      </a>
                    </p>
                  </div>
                </div>
                <Body />
                <Sidebar />
              </div>
              <footer class="block">
                <p style="postition: relative;">
                  <small>
                    This page content is available on
                    <a
                      href="https://github.com/Arthur-Aillet/deepest-floor"
                      target="_blank">github</a
                    >
                    under the
                    <a
                      href="https://github.com/Arthur-Aillet/deepest-floor/blob/main/LICENSE"
                      target="_blank"
                      id="license-link"
                      >AGPL GNU License
                    </a>
                  </small>
                </p>
                <CustomLabel
                  id="license-link"
                  mousetracked={false}
                  text="AGPL is the most efficient license I know to force companies to publish the changes they make. If they use our software, even in their private networks, and edit it, they have to publish the changes under the same license! If they use our libraries they need to make their whole software open source. AGPL spreads to every project it touches and could save us from closed source software."
                />
              </footer>
              <img src={Ladder.src} class="ladder-img" />
              <img src={Flag.src} class="flag-img" />
              <img src={Shader.src} class="shader-img" />
              <UpdateLog />
            </div>
          </main>
          <Xray />
        </div>
      </div>
    </div>
  </body>
</html>
