<div id="content-wrapper" class="namecard">
  <div class="sidebar namecard-inner block">
    <slot name="front"/>
  </div>
  <div class="sidebar namecard-back block" style="display: flex">
    <slot name="back"/>
  </div>
</div>
